<% cache product do %>
  <div class="product-div col-sm-6 col-md-6">
    <%= image_tag(product.image_url, class: "img-responsive center-img img-zoom", data_zoom_image: product.image_url) %>
  </div>

  <div class="product-desc col-md-6" data-product-id="<%= @product.id %>">
    <h2><%= product.name %></h2>
    <h3><%= product.description %></h3>
    <p><strong><%= product.price %></strong></p>
    <br>
<% end %>