<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
      <%= image_tag(product.image_url, class: "img-responsive") %>
        <p><%= product.name %></p>>
        <p><%= product.description %></p>
        <p><%= product.colour %></p>
        <p><strong>$<%= product.price %></strong></p>
        <span class="btn btn-default" role="button">
        <td><%= link_to 'Show', product %></td></span>
        <span class="btn btn-default" role="button">
        <td><%= link_to 'Edit', edit_product_path(product) %></td></span>
        <span class="btn btn-default" role="button">
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </span>
      </div><!-- /col -->
    <% end %>
    <%= link_to 'New Product', new_product_path %>
  </div>
</div>
