<%= render @product %>
<br>
<%= form_tag "/payments/create" do %>
  <%= hidden_field_tag(:product_id, @product.id) %>
  <%= render partial: "shared/stripe_checkout_button" %>
<% end %>
<br>
<div class="alert alert-info" style="display:none" role="alert">A new comment has been posted!</div>
<%= render 'comments' %>
    <%= form_tag "/payments/create" do %>
    <%= render partial: "shared/stripe_checkout_button" %>
    <% end %>
  </p>
<div class="col-md-4 col-xs-12">
  <p>Average Rating:<%= @product.average_rating %></p>
  <p>Highest Rating:<% @product.highest_rating_comment %></p>
  <p>Lowest Rating:<% @product.lowest_rating_comment %></p>
  <%= render "new_comment" %> 
  <%= render "comments" %>
  <%= will_paginate @comments, :page_links => false %>
</div>
</div>